<nf-page-shell scroll>
  <nf-page-header [config]="headerConfig"></nf-page-header>
  <nf-entity-detail
    #detail
    [config]="config"
    [mode]="mode()"
    [item]="item()"
    [lookups]="lookups()"
    [loading]="isLoading()"
    [saving]="isSaving()"
    (action)="onAction($event)">

    <ng-template nfField="lignes" let-control>
      <app-metre-table-editor
        [lines]="lignesValue(item())"
        [readonly]="mode() === 'view'"
        [metreId]="item()?.id ?? ''"
        (linesChange)="onLignesChange(control, $event)" />
    </ng-template>

  </nf-entity-detail>
</nf-page-shell>
